/* INIT */ /* INIT */ /* INIT */
html,
body {
  margin: 0px;
  padding: 0px;
}
h3 {
  font-weight: 700;
  font-size: 16px;
  margin: 0px;
  letter-spacing: 3px;
}
h4 {
  font-weight: 400;
  font-size: 14px;
  margin: 0px;
  letter-spacing: 2px;
}
h5 {
  font-weight: 400;
  font-size: 13px;
  margin: 0px;
  letter-spacing: 1px;
}
input {
  padding: 0px;
  border: none;
}
.hidden {
  display: none;
}
button {
  background: none;
  border: none;
}

/* SIDEPANEL */ /* SIDEPANEL */ /* SIDEPANEL */
.sidepanel {
  width: 240px;
  height: 100%;
  background-color: #383838;
  position: fixed;
  right: 0px;
  top: 0px;
}
.tab {
  border-bottom: 1px solid #fff;
  display: flex;
}
.tab h4 {
  padding: 16px 0px 16px 0px;
  margin-left: 20px;
  color: #878787;
}
.tab h4:hover {
  cursor: pointer;
  color: #fff;
}
.styleTit {
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 16px 20px 16px 20px;
}
.collapse {
  width: 16px;
  height: 16px;
  background-image: url('/src/icon/remove.png');
  background-size: cover;
}
.collapse:hover {
  cursor: pointer;
}
.styleFont {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px 0px 15px;
}
.fontBlock {
  font-weight: 400;
  width: 75px;
  height: 70px;
  color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 16px;
}
.fontBlock:hover {
  border: 1px solid #fff;
  cursor: pointer;
}
.font {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
.fontType {
  letter-spacing: 2px;
  font-size: 12px;
}

.eventTit {
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 16px 20px 16px 20px;
  border-top: 1px solid #fff;
}
.eventList {
  padding: 0px 20px 0px 20px;
}
.event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 18px 12px 18px;
  background-color: #db4453;
  border-radius: 5px;
  color: #fff;
  margin-bottom: 10px;
  width: 100%;
  border: none;
}
.eventEdit {
  width: 200px;
  height: 44px;
  position: absolute;
  z-index: 10;
  top: 0;
  border-radius: 5px;
  background-color: none;
  color: #fff;
  border: 1px solid #fff;
  box-sizing: border-box;
}
.menuIcon {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-image: url('/src/icon/menu_white.png');
  cursor: pointer;
}
.menuIcon:hover {
  background-color: #e0e0e0;
  border-radius: 2px;
}
.menuPanel {
  position: absolute;
  right: -10px;
  top: 10px;
  background-color: #fff;
  color: black;
  border-radius: 2px;
  z-index: 10;
}
.menuEdit {
  border-bottom: 1px solid black;
}
.menuPanel h5 {
  padding: 5px 8px 5px 8px;
}
.menuPanel h5:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}
.btnScope {
  position: relative;
}
::placeholder {
  color: #383838;
}
.nosee {
  width: 220px;
  height: 52px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  cursor: pointer;
}
.eventForm {
  padding: 0px 20px 0px 20px;
  margin-top: 20px;
}
.eventInput {
  height: 20px;
  width: 160px;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  color: #8a8a8a;
  caret-color: #36bc9b;
}
.eventInput:focus {
  outline-color: #36bc9b;
}
.eventEditSubmit {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 12px;
  right: 20px;
  z-index: 20;
  background-image: url('/src/icon/done.png');
  background-size: cover;
}
.eventEditSubmit:hover {
  background-color: #e0e0e0;
  border-radius: 5px;
}
.selColor {
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0px 5px 10px;
  justify-content: center;
  align-items: center;
}
/* ARDIO */
input[type='radio'] + label {
  vertical-align: middle;
}
input[type='radio'] + label:hover {
  cursor: pointer;
}
label {
  margin-right: 10px;
  margin-bottom: 5px;
}
input[type='radio'] + label::before {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  content: ' ';
  display: inline-block;
  vertical-align: middle;
}
input[type='radio']:checked + label:before {
  box-sizing: border-box;
  border-radius: 50%;
}
.color1::before {
  background-color: #db4453;
}
.color2::before {
  background-color: #f2802d;
}
.color3::before {
  background-color: #36bc9b;
}
.color4::before {
  background-color: #5d9cec;
}
.color5::before {
  background-color: #8c63e3;
}
.color6::before {
  background-color: #5c5c5c;
}
.color7::before {
  background-color: #ec87bf;
}
.color8::before {
  background-color: #f2c72d;
}
.color9::before {
  background-color: #a0d468;
}
.color10::before {
  background-color: #66d1f2;
}
.color11::before {
  background-color: #ac92ed;
}
.color12::before {
  background-color: #8b8b8b;
}

.routineTit {
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 16px 20px 16px 20px;
  border-top: 1px solid #fff;
}
.routine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 18px 12px 18px;
  background: linear-gradient(90deg, #f2802d 0%, #f2c72d 100%);
  border-radius: 5px;
  color: #fff;
  margin-bottom: 10px;
}
.routineList {
  padding: 0px 20px 0px 20px;
}
.noteTit {
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 16px 20px 16px 20px;
  border-top: 1px solid #fff;
  margin-top: 20px;
}
.info {
  width: 30px;
  height: 30px;
  background-image: url('/src/icon/info.png');
  background-size: cover;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

/* Analysis */ /* Analysis */ /* Analysis */
.comment {
  padding: 12px 18px 12px 18px;
}
.comment h4 {
  color: #fff;
  margin-bottom: 16px;
}
.comment button {
  padding: 12px 18px 12px 18px;
  border-radius: 5px;
  color: #fff;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #fff;
  background-color: #383838;
  text-align: center;
  text-align: center;
  box-sizing: border-box;
}
.commentBox {
  width: 184px;
  height: 150px;
  border-radius: 5px;
  background-color: #464646;
  margin-bottom: 16px;
  border: none;
  padding: 10px;
  resize: vertical;
  color: #fff;
}
.commentBox:focus {
  outline-color: #383838;
}

/* analysisBoard */ /* analysisBoard */ /* analysisBoard */
.commentIcon {
  background-image: url('/src/icon/comment.png');
  background-size: cover;
  width: 40px;
  height: 40px;
  position: absolute;
}
.commentIcon:hover {
  cursor: pointer;
}

.anaBoard {
  width: calc(100% - 1040px);
  padding: 20px 400px 20px 400px;
}
.chartScope {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.chart01 {
  width: 20%;
  height: 300px;
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 20px;
  margin-right: 20px;
}
.chart02 {
  width: 70%;
  height: 300px;
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 20px;
}
.anaBoard-title {
  margin-top: 100px;
  margin-bottom: 20px;
}
.commentBlock {
  width: 300px;
  height: 100px;
  position: absolute;
  left: 20px;
  padding: 10px 20px 10px 20px;
  background-color: #383838;
  border-radius: 5px;
  color: #fff;
}
.commentBlock:hover {
  cursor: default;
}

/* Quote */ /* Quote */ /* Quote */
.quoteScope {
  background-color: #f4f4f4;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px 15px 30px;
}
.favIcon {
  width: 24px;
  height: 24px;
  background-image: url('/src/icon/favorite.png');
  background-size: cover;
}
.editIcon {
  width: 24px;
  height: 24px;
  background-image: url('/src/icon/edit_black.png');
  background-size: cover;
}
.delIcon {
  width: 24px;
  height: 24px;
  background-image: url('/src/icon/delete_black.png');
  background-size: cover;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  margin-left: 20px;
}
.text h3 {
  margin-bottom: 10px;
}
.menuList {
  display: flex;
  justify-content: center;
  align-items: center;
}
.align {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.align h6 {
  margin: 10px 0px 0px 0px;
}
