/* INIT */ /* INIT */ /* INIT */
html,
body {
  margin: 0px;
  padding: 0px;
}
h3 {
  font-weight: 700;
  font-size: 16px;
  margin: 0px;
  letter-spacing: 3px;
}
h4 {
  font-weight: 400;
  font-size: 14px;
  margin: 0px;
  letter-spacing: 2px;
}
h5 {
  font-weight: 400;
  font-size: 13px;
  margin: 0px;
  letter-spacing: 1px;
}
input {
  padding: 0px;
  border: none;
}
.hidden {
  display: none;
}
button {
  background: none;
  border: none;
}
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding-right: 14px;
}
::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 80px 0 5px 0;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: rgb(167, 167, 167);
}

/* SIDEPANEL */ /* SIDEPANEL */ /* SIDEPANEL */
/* .sidepanel {
  width: 240px;
  height: 100%;
  background-color: #383838;
  position: fixed;
  right: 0px;
  top: 0px;
  overflow: auto;
  user-select: none;
} */

/* .tab {
  display: flex;
}
.tab h4 {
  padding: 16px 0px 16px 0px;
  margin-left: 20px;
  color: #878787;
}
.tab h4:hover {
  cursor: pointer;
  color: #fff;
} */
/* .styleTit {
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 16px 20px 16px 20px;
} */
/* .styleFont {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px 0px 15px;
} */
/* .eventTit {
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 16px 20px 16px 20px;
  border-top: 1px solid #fff;
} */
/* .event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 18px 12px 18px;
  background-color: #db4453;
  border-radius: 5px;
  color: #fff;
  margin-bottom: 10px;
  width: 100%;
  border: none;
} */
/* 
::placeholder {
  color: #c4c4c4;
} */

/* .eventInput {
  height: 20px;
  width: 160px;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  color: #8a8a8a;
  caret-color: #36bc9b;
} */
/* .eventInput:focus {
  outline-color: #36bc9b;
} */

/* .selColor {
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0px 5px 10px;
  justify-content: center;
  align-items: center;
} */
/* .eventMenuBG {
  width: 100%;
  height: 250%;
  border: 1px solid red;
  position: fixed;
} */
/* ARDIO */
/* input[type='radio'] + label {
  vertical-align: middle;
}
input[type='radio'] + label:hover {
  cursor: pointer;
}
label {
  margin-right: 10px;
  margin-bottom: 5px;
}
input[type='radio'] + label::before {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  content: ' ';
  display: inline-block;
  vertical-align: middle;
}
input[type='radio']:checked + label:before {
  box-sizing: border-box;
  border-radius: 50%;
} */

/* .noteTit {
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 16px 20px 16px 20px;
  border-top: 1px solid #fff;
  margin-top: 20px;
} */
/* .info {
  width: 30px;
  height: 30px;
  background-image: url('/src/icon/info.png');
  background-size: cover;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border: 1px solid red;
} */

/* analysisBoard */ /* analysisBoard */ /* analysisBoard */
.commentIcon {
  background-image: url('/src/icon/comment.png');
  background-size: cover;
  width: 40px;
  height: 40px;
  position: absolute;
}
.commentIcon:hover {
  cursor: pointer;
}

.anaBoard {
  width: 100%;
  height: 200px;
  position: absolute;
}
.chartjs-render-monitor {
  padding-bottom: 20px;
}
.anaBoard-title {
  margin-top: 100px;
  margin-bottom: 20px;
}
.commentBlock {
  width: 300px;
  height: 100px;
  position: absolute;
  left: 20px;
  padding: 45px 20px 10px 20px;
  background-color: #fff;
  border-radius: 5px;
  color: #383838;
  border: 1px solid #8b8b8b;
  box-sizing: border-box;
  outline: none;
  resize: vertical;
}
.commentBlock:hover {
  cursor: default;
}
.memoDel {
  position: absolute;
  top: 0;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #383838;
  background-color: #fff;
}
.memoDel:hover {
  background-color: #383838;
  color: #fff;
}
/* .weekDought {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.dayDropdpwn {
  background-color: #383838;
  height: 30px;
  padding: 5px 8px 5px 8px;
  margin-left: 20px;
  margin-bottom: 16px;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #fff;
  z-index: 1;
  outline: none;
  text-align: center;
} */
/* .dayDropdpwn:hover {
  background-color: #464646;
  
} */
/* Quote */ /* Quote */ /* Quote */
/* .quoteScope {
  background-color: #f4f4f4;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px 15px 30px;
}
.favIcon {
  width: 24px;
  height: 24px;
  background-image: url('/src/icon/favorite.png');
  background-size: cover;
}
.editIcon {
  width: 24px;
  height: 24px;
  background-image: url('/src/icon/edit_black.png');
  background-size: cover;
}
.delIcon {
  width: 24px;
  height: 24px;
  background-image: url('/src/icon/delete_black.png');
  background-size: cover;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  margin-left: 20px;
}
.text h3 {
  margin-bottom: 10px;
}
.menuList {
  display: flex;
  justify-content: center;
  align-items: center;
}
.align {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.align h6 {
  margin: 10px 0px 0px 0px;
} */

/* POPUP */ /* POPUP */ /* POPUP */
.popupBG {
  position: absolute;
  width: 100%;
  height: 250%;
  background-color: rgba(56, 56, 56, 0.5);
  z-index: 1002;
  top: 0px;
}
.cautionPop {
  width: 500px;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  /* left: 50%;
  transform: translateX(-50%); */
  top: 300px;
  padding: 35px 20px 35px 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  z-index: 1003;
}
.cautionPop h3 {
  text-align: center;
}
.cautionPop h4 {
  margin-top: 20px;
  text-align: center;
  line-height: 30px;
}
.center {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.popBTN {
  width: 120px;
  padding: 10px 15px 10px 15px;
  background-color: rgb(86, 213, 200);
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
  color: #fff;
  background-color: #db4453;
}
.popBTN:hover {
  background-color: #ce2535;
}

.grayBG {
  background-color: #c4c4c4;
}
.grayBG:hover {
  background-color: #9a9a9a;
}
.closePop {
  width: 20px;
  height: 20px;
  background-image: url('/src/icon/close_black.png');
  background-size: cover;
  position: absolute;
  top: 20px;
  right: 20px;
}
.closePop:hover {
  background-image: url('/src/icon/close_black_sle.png');
}

/* welcome */ /* welcome */ /* welcome */
.welPTNScope {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.welcomeBTN {
  background-color: #f2c72d;
}
.welcomeBTN:hover {
  background-color: #ebbd15;
}
