/* INIT */ /* INIT */ /* INIT */
html,
body {
  margin: 0px;
  padding: 0px;
}
h2 {
  font-size: 24px;
  margin: 0px;
  letter-spacing: 3px;
  font-weight: bold;
}
/* h4{
    font-weight: 400;
    font-size: 14px;
    margin: 0px;
    letter-spacing: 2px;
}
h5{
    font-weight: 400;
    font-size: 12px;
    margin: 0px;
    letter-spacing: 2px;
}
input{
    padding: 0px;
    border: none;
} */
button:hover {
  cursor: pointer;
}

/* SIGNPOPUP */ /* SIGNPOPUP */ /* SIGNPOPUP */
.signpopup {
  width: 681px;
  height: 411px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  justify-content: center;
}
.signupImg {
  width: 303px;
  height: 411px;
  background-image: url("/src/icon/signupImg.png");
  background-size: cover;
  color: red;
}
.signinBox {
  width: calc(100% - 303px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.signinBox form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.signinBox h5 {
  margin-top: 10px;
  letter-spacing: 1px;
}
.signinBox span {
  margin-left: 10px;
  color: #db4453;
  font-weight: bold;
}
.signinBox span:hover {
  cursor: pointer;
}
.signinBox input {
  border-bottom: 1px solid rgb(14, 14, 14);
  margin-bottom: 10px;
  padding: 10px 0px 10px 5px;
}
.signinBox button {
  width: 234px;
  height: 40px;
  border-radius: 5px;
  background-color: #36bc9b;
  border: none;
  color: #fff;
  margin-top: 15px;
}
.signinBox form h5 {
  margin-top: 0px;
  margin-right: 10px;
}
.social_sign {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  margin-top: 20px;
}
.google {
  width: 18px;
  height: 18px;
  background-image: url("/src/icon/google.png");
  background-size: cover;
  margin-right: 10px;
}
.github {
  width: 18px;
  height: 18px;
  background-image: url("/src/icon/github.png");
  background-size: cover;
}
