.artboard {
  width: calc(100% - 240px);
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 65px;
}
.timeblock {
  width: 130px;
  height: 40px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.timeblock:hover {
  cursor: pointer;
}
.timeblock h5 {
  font-weight: 700;
  color: #fff;
}
.timeBefore {
  border-radius: 5px 5px 0px 0px;
}
.timeAfter {
  border-radius: 0px 0px 5px 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.block {
  padding-top: 40px;
}
.timeSel {
  border: 2px solid #b5ecff;
  box-sizing: border-box;
}
.oneday {
  margin-right: 20px;
}
.oneday h3 {
  text-align: center;
  margin: 0px 0px 20px 0px;
}
.TimeLine h4 {
  left: 260px;
  margin: 0px;
}
.TimeLine {
  padding: 45px 30px 0px 0px;
}
.timeBlock {
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.timeBloack h4 {
  font-weight: 700;
}

/* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */
.nav {
  width: calc(100% - 240px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 10

}
.menu {
  padding: 15px 20px 25px 20px;
  display: flex;
}
.import-btn{
  display: flex;
  align-items: center;
}
.import-btn h4{
  color: #D3D3D3;
}
.split-line{
  height: 14px;
  border-left: 2px solid #D3D3D3;
  margin-left: 12px;
}
.signOut{
  margin-left: 12px;
  margin-right: 20px;
}
.signOut:hover{
  cursor: pointer;
  color: #383838;
}
/* .member {
  width: 20px;
  height: 20px;
  background-image: url('/src/icon/face.png');
  background-size: cover;
  margin-right: 10px;
}
.member:hover {
  cursor: pointer;
}
.camera {
  width: 20px;
  height: 20px;
  background-image: url('/src/icon/camera.png');
  background-size: cover;
}
.camera:hover {
  cursor: pointer; */
/* } */
/* .logo{
    width: 71px;
    height: 38px;
    background-image: url("/src/icon/Timi.png");
    background-size: cover;
} */

.selTime {
  box-sizing: border-box;
  border: 1px solid black;
}
.setTime {
  box-sizing: border-box;
  border: 1px solid red;
}

/* floatpanel */ /* floatpanel */ /* floatpanel */
.floatpanel {
  width: 160px;
  height: 40px;
  background-color: #464646;
  position: fixed;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  /* top: 0px; */
  left: calc((100% - 240px) / 2);
  top: 93%;
  transform: translateX(-50%);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.floatpanel h5 {
  color: #fff;
}
.hidden {
  display: none;
}
.claenEvent {
  width: 24px;
  height: 24px;
  background-image: url('/src/icon/cleaning.png');
  background-size: cover;
}
.claenEvent:hover {
  cursor: pointer;
  background-image: url('/src/icon/cleaning_hover.png');
}
