.artboard {
  width: calc(100% - 240px);
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 80px;
}
.timeblock {
  width: 140px;
  height: 40px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.timeblock:hover {
  cursor: pointer;
}
.timeblock h5 {
  font-weight: 700;
  color: #fff;
}
.timeBefore {
  border-radius: 5px 5px 0px 0px;
}
.timeAfter {
  border-radius: 0px 0px 5px 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.block {
  padding-top: 40px;
}
.timeSel {
  border: 2px solid #88e0fe;
  box-sizing: border-box;
}
.oneday {
  margin-right: 20px;
  user-select: none;
}
.oneday h3 {
  text-align: center;
  margin: 0px 0px 20px 0px;
}
.TimeLine h4 {
  left: 260px;
  margin: 0px;
}
.TimeLine {
  padding: 45px 30px 0px 0px;
  user-select: none;
}
.timeBlock {
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.timeBloack h4 {
  font-weight: 700;
}

/* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */
.nav {
  width: calc(100% - 240px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: fixed;
  background-color: #fff;
  top: 0;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.signBTN {
  background-image: url('/src/icon/face.png');
  background-size: cover;
  width: 20px;
  height: 20px;
}
.import-btn {
  display: flex;
  align-items: center;
}
.import-btn h4 {
  font-weight: bold;
  color: #d3d3d3;
}
.split-line {
  height: 14px;
  border-left: 2px solid #d3d3d3;
  margin-left: 14px;
}
.saveBTN {
  margin-left: 14px;
  margin-right: 20px;
  background-image: url('/src/icon/save.png');
  background-size: cover;
  width: 20px;
  height: 20px;
}
.signInfo {
  letter-spacing: 1px;
  margin-left: 2px;
  position: absolute;
  top: 6px;
  left: -6px;
}
.saveInfo {
  letter-spacing: 1px;
  margin-left: 12px;
  position: absolute;
  top: 6px;
  left: -3px;
}
.signHover {
  background-image: url('/src/icon/face_sel.png');
}
.saveHover {
  background-image: url('/src/icon/save_sel.png');
}
.backBTN {
  background-image: url('/src/icon/back.png');
  background-size: cover;
  width: 20px;
  height: 20px;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu h4 {
  font-weight: bold;
  margin-left: 6px;
  color: #e0e0e0;
}
.menu h4:hover {
  color: #000000;
  cursor: pointer;
}
/* .member {
  width: 20px;
  height: 20px;
  background-image: url('/src/icon/face.png');
  background-size: cover;
  margin-right: 10px;
}
.member:hover {
  cursor: pointer;
}
.camera {
  width: 20px;
  height: 20px;
  background-image: url('/src/icon/camera.png');
  background-size: cover;
}
.camera:hover {
  cursor: pointer; */
/* } */
/* .logo{
    width: 71px;
    height: 38px;
    background-image: url("/src/icon/Timi.png");
    background-size: cover;
} */

.selTime {
  box-sizing: border-box;
  border: 1px solid black;
}
.setTime {
  box-sizing: border-box;
  border: 1px solid red;
}

/* floatpanel */ /* floatpanel */ /* floatpanel */
.floatpanel {
  width: 160px;
  height: 40px;
  background-color: #464646;
  position: fixed;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  left: calc((100% - 240px) / 2);
  top: 93%;
  transform: translateX(-50%);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1001;
}
.floatpanel h5 {
  color: #fff;
}
.hidden {
  display: none;
}
.claenEvent {
  width: 24px;
  height: 24px;
  background-image: url('/src/icon/cleaning.png');
  background-size: cover;
}
.claenEvent:hover {
  cursor: pointer;
  background-image: url('/src/icon/cleaning_hover.png');
}
.cleanPanel {
  position: absolute;
  width: 100px;
  background-color: #fff;
  left: 150px;
  bottom: 10px;
  border-radius: 2px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  z-index: 1002;
}
.cleanPanel h5 {
  color: #000000;
  padding: 7px 10px 7px 10px;
  text-align: center;
}
.cleanPanel h5:hover {
  cursor: pointer;
  background-color: #e0e0e0;
}
.cleanH5Top {
  border-bottom: 1px solid #000000;
}
.cleanH5Top:hover {
  border-radius: 2px 2px 0px 0px;
}
.cleanH5BTM:hover {
  border-radius: 0px 0px 2px 2px;
}
.cleanpopBG {
  position: absolute;
  width: 100%;
  height: 250%;
  top: 0;
  z-index: 1000;
}
