.bg {
  width: 100%;
  height: 1050px;
  background-color: rgb(77, 77, 77);
}
/* INIT */ /* INIT */ /* INIT */
html,
body {
  margin: 0px;
  padding: 0px;
}
h2 {
  font-size: 24px;
  margin: 0px;
  letter-spacing: 3px;
  font-weight: bold;
}
button:hover {
  cursor: pointer;
}

/* SIGNPOPUP */ /* SIGNPOPUP */ /* SIGNPOPUP */
.signpopup {
  width: 706px;
  height: 428px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  z-index: 1003;
  box-shadow: 2px 2px 2px rgb(0 0 0 / 25%);
}
.signupImg {
  width: 350px;
  height: 428px;
  background-image: url('/src/image/signup.png');
  background-size: cover;
  border-radius: 5px 0px 0px 5px;
}
.signinBox {
  width: calc(100% - 303px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 65px;
}
.signinBox form {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.signinBox h5 {
  margin-top: 10px;
  letter-spacing: 2px;
}
.signinBox span {
  margin-left: 10px;
  color: #db4453;
  font-weight: bold;
}
.signinBox span:hover {
  cursor: pointer;
}
.signinBox input {
  border-bottom: 1px solid rgb(14, 14, 14);
  margin-bottom: 10px;
  padding: 10px 0px 10px 0px;
  outline: none;
}
.CTA {
  width: 234px;
  height: 40px;
  border-radius: 5px;
  background-color: #36bc9b;
  border: none;
  color: #fff;
  margin-top: 20px;
}
.signinBox form h5 {
  margin-top: 0px;
  margin-right: 10px;
}
.social_sign {
  width: 100%;
  display: flex;
  margin-top: 20px;
}
.google {
  width: 18px;
  height: 18px;
  background-image: url('/src/icon/google.png');
  background-size: cover;
  margin-right: 10px;
}
.google:hover {
  background-image: url('/src/icon/google_hover.png');
  cursor: pointer;
}
.github {
  width: 18px;
  height: 18px;
  background-image: url('/src/icon/github.png');
  background-size: cover;
  margin-right: 10px;
}
.github:hover {
  background-image: url('/src/icon/github_hover.png');
  cursor: pointer;
}
.facebook {
  width: 18px;
  height: 18px;
  background-image: url('/src/icon/facebook.png');
  background-size: cover;
}
.facebook:hover {
  background-image: url('/src/icon/facebook_hover.png');
  cursor: pointer;
}
.switchBTN {
  padding: 0px;
  background-color: #fff;
  font-size: 12px;
  margin-top: 15px;
  letter-spacing: 3px;
  border: none;
}
.switchBTN:hover {
  color: #db4453;
}
.signinImg {
  width: 350px;
  height: 428px;
  background-image: url('/src/image/signin.png');
  background-size: cover;
  border-radius: 5px 0px 0px 5px;
}
.SinginCTA {
  width: 234px;
  height: 40px;
  border-radius: 5px;
  background-color: #db4453;
  border: none;
  color: #fff;
  margin-top: 20px;
}
.errorMessage {
  color: #db4453;
  width: 234px;
  margin: 0px;
  margin-top: 40px;
  text-align: center;
}
